<h1 class="text-3xl font-bold mb-6 text-center">My Orders</h1>

<div id="orders-loading" class="text-center py-10">
  <i class="fas fa-spinner fa-spin text-3xl text-gray-500 mb-2"></i>
  <p class="text-gray-600">Loading orders...</p>
</div>


<div id="orders-grid" class="flex flex-col gap-2">
</div>
